/* Reset some default styles */
body, ul {
    margin: 0;
    list-style: none;
    overflow-x: hidden;
}


/* Navbar styles */
.custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('assets/img/counts-bg.png') left/cover;
    color: white;
    padding: 10px 20px;
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    width: auto;
    z-index: 1000;
}

.custom-nav a.active {
    border-bottom: 2px solid rgba(86, 58, 250, 0.902);
}

.custom-nav-brand {
    display: flex;
    align-items: center;
}

.custom-nav-title {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.custom-nav-menu {
    display: flex;
    gap: 20px;
}

.custom-nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px; /* Increase the font size for better readability */
    position: relative; /* Create a positioning context for pseudo-element */
    transition: color 0.3s ease;
}

.custom-nav-menu li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease; /* Add transition for width */
}

.custom-nav-menu li a:hover::before {
    width: 100%; /* Expand the width on hover */
}

.custom-nav-auth .auth-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px; 
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin-left: 15px;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

.custom-nav-auth .auth-button:hover {
    background-color: white; /* Change background on hover */
    color: blue; /* Change text color on hover */
}

.ham {
    display: none;
}

@media screen and (max-width: 1024px) {
    .ham {
        display: block;
    }
    .custom-nav-menu {
        display: none;
    }
    .custom-nav-auth {
        display: none;
    }
}


